In [52]:
import pandas as pd

In [58]:
data = pd.read_csv("Final (1).csv")

In [59]:
data.fillna(0, inplace = True)

In [60]:
data.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Team', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'years', 'Rank', 'First', 'Pts Won', 'Pts Max', 'Share', 'WS', 'WS/48',
       'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'],
      dtype='object')

In [61]:
data.sort_values("years", inplace = True)

In [62]:
data.shape

(12513, 45)

In [63]:
# data.set_index("years", inplace = True)

In [64]:
# data.sort_index(inplace = True)

In [65]:
data.years.unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [66]:
# data.fillna(0, inplace = True)

In [67]:
train = data[data.years<2021]

In [68]:
test = data[data.years==2021]

In [69]:
# from sklearn.model_selection import train_test_split

In [70]:
# train, test = train_test_split(data, test_size=0.1, shuffle = False)

In [71]:
train.years.unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [72]:
test.years.unique()

array([2021], dtype=int64)

In [200]:
a= data.corr()["Share"]<0.7
pre = data.corr()['Share'][a].index.to_list()

In [201]:
b=data.corr()["Share"]
b

Rk        -0.016322
Age        0.020841
G          0.091323
GS         0.170659
MP         0.166651
FG         0.284294
FGA        0.257005
FG%        0.065856
3P         0.099831
3PA        0.100512
3P%        0.032573
2P         0.283123
2PA        0.258732
2P%        0.062953
eFG%       0.059172
FT         0.324531
FTA        0.329485
FT%        0.042493
ORB        0.103005
DRB        0.219075
TRB        0.190979
AST        0.206627
STL        0.179914
BLK        0.158041
TOV        0.240398
PF         0.071779
PTS        0.296349
years     -0.006713
First      0.831273
Pts Won    0.995148
Pts Max    0.520492
Share      1.000000
WS         0.651528
WS/48      0.628255
W          0.127471
L         -0.126419
W/L%       0.131403
GB        -0.105445
PS/G       0.045318
PA/G      -0.038162
SRS        0.127688
Name: Share, dtype: float64

In [202]:
b[a].index

Index(['Rk', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'years', 'Pts Max', 'WS',
       'WS/48', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'],
      dtype='object')

In [76]:
# predictors = ['FT', 'FTA', 'First', 'WS', 'WS/48']

In [121]:
predictors = ['FG', 'FGA', '2P', '2PA', 'FT', 'FTA', 'DRB', 'AST', 'TOV', 'PTS', 'WS', 'WS/48']

In [122]:
# predict = ["Share"]

In [203]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [204]:
# ms = MinMaxScaler()
ms = StandardScaler()

In [205]:
x_test = test[pre] # x_test

In [206]:
x_test = ms.fit_transform(x_test)

In [207]:
x_train = train[pre]
x_train

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,Pts Max,WS,WS/48,W,L,W/L%,GB,PS/G,PA/G,SRS
0,135.0,27,82.0,21.0,26.400000,3.1,6.6,0.476,0.1,0.7,...,0.0,0.0,0.0,58.0,24.0,0.707,5.0,106.3,99.6,6.73
8150,259.0,25,74.0,3.0,13.100000,1.6,3.2,0.494,0.0,0.0,...,0.0,0.0,0.0,61.0,21.0,0.744,0.0,110.0,101.0,8.57
8149,183.0,24,76.0,6.0,15.800000,2.1,4.4,0.467,0.0,0.0,...,0.0,0.0,0.0,61.0,21.0,0.744,0.0,110.0,101.0,8.57
8148,267.0,25,82.0,82.0,36.799999,7.3,14.1,0.520,0.3,0.8,...,0.0,0.0,0.0,61.0,21.0,0.744,0.0,110.0,101.0,8.57
8147,372.0,22,51.0,0.0,6.600000,1.0,2.0,0.510,0.0,0.0,...,0.0,0.0,0.0,61.0,21.0,0.744,0.0,110.0,101.0,8.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,229.0,33,67.0,61.0,30.200001,4.8,10.6,0.450,1.5,4.2,...,0.0,0.0,0.0,43.0,30.0,0.589,10.5,110.7,108.4,2.25
1991,400.0,26,24.0,0.0,9.700000,1.0,2.0,0.521,0.0,0.0,...,0.0,0.0,0.0,43.0,30.0,0.589,10.5,110.7,108.4,2.25
1990,443.0,31,68.0,11.0,17.799999,2.2,5.1,0.426,1.2,3.2,...,0.0,0.0,0.0,43.0,30.0,0.589,10.5,110.7,108.4,2.25
11308,56.0,27,62.0,0.0,13.200000,2.3,4.8,0.472,0.6,1.9,...,0.0,0.0,0.0,53.0,19.0,0.736,0.0,112.8,106.5,5.97
1989,474.0,22,65.0,14.0,19.799999,1.7,4.1,0.423,0.9,2.4,...,0.0,0.0,0.0,43.0,30.0,0.589,10.5,110.7,108.4,2.25

In [208]:
x_train = ms.fit_transform(x_train)

In [209]:
y_test = test["Share"]
y_test

4932     0.000
4460     0.000
4462     0.000
4463     0.000
4464     0.000
         ...
7071     0.000
7070     0.000
7069     0.000
2011     0.000
12512    0.001
Name: Share, Length: 463, dtype: float64

In [210]:
y_train = train["Share"]
y_train

0        0.0
8150     0.0
8149     0.0
8148     0.0
8147     0.0
        ...
1982     0.0
1991     0.0
1990     0.0
11308    0.0
1989     0.0
Name: Share, Length: 12050, dtype: float64

In [211]:
# x_test.fillna(0, inplace = True)

In [212]:
# x_train.fillna(0, inplace = True)

In [213]:
# y_train.fillna(0, inplace = True)

In [214]:
x_test.isna().sum()

AttributeError: 'numpy.ndarray' object has no attribute 'isna'

In [215]:
# from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor

In [216]:
lr =RandomForestRegressor()
# lr = Ridge(alpha = 0.1)

In [217]:
lr.fit(x_train, y_train)

RandomForestRegressor()

In [218]:
pr = lr.predict(x_test)

In [219]:
actual = y_test

In [220]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [221]:
r2_score(actual, pr)

0.6277635976467959

In [142]:
predictions = pd.DataFrame(pr,  columns = ["Predictions"], index= test.index)
predictions

       Predictions
4932       0.00000
4460       0.00000
4462       0.00000
4463       0.00000
4464       0.00000
...            ...
7071       0.00000
7070       0.00000
7069       0.00000
2011       0.00000
12512      0.16143

[463 rows x 1 columns]

In [143]:
combination = pd.concat([test[['Player', "Share"]] ,predictions], axis =1)
combination

                Player  Share  Predictions
4932   Duncan Robinson  0.000      0.00000
4460        Cedi Osman  0.000      0.00000
4462    Damyean Dotson  0.000      0.00000
4463        Dante Exum  0.000      0.00000
4464    Darius Garland  0.000      0.00000
...                ...    ...          ...
7071      Shake Milton  0.000      0.00000
7070        Seth Curry  0.000      0.00000
7069     Rayjon Tucker  0.000      0.00000
2011      Théo Maledon  0.000      0.00000
12512     James Harden  0.001      0.16143

[463 rows x 3 columns]

In [144]:
combination.sort_values("Share", ascending= False).head(10)

                      Player  Share  Predictions
9644            Nikola Jokić  0.961      0.79857
7065             Joel Embiid  0.580      0.50389
2883           Stephen Curry  0.449      0.35617
8130   Giannis Antetokounmpo  0.345      0.52788
1080              Chris Paul  0.138      0.12456
9268             Luka Dončić  0.042      0.16512
6100          Damian Lillard  0.038      0.28085
2777           Julius Randle  0.020      0.03650
12511           Derrick Rose  0.010      0.00262
9620             Rudy Gobert  0.008      0.18666

In [145]:
mean_squared_error(combination["Share"],combination["Predictions"])

0.0005339990110151187

In [146]:
combination["Share"].value_counts().head()

0.000    448
0.001      3
0.010      1
0.961      1
0.138      1
Name: Share, dtype: int64

In [147]:
comb = combination.sort_values("Share", ascending =False)
comb

                     Player  Share  Predictions
9644           Nikola Jokić  0.961      0.79857
7065            Joel Embiid  0.580      0.50389
2883          Stephen Curry  0.449      0.35617
8130  Giannis Antetokounmpo  0.345      0.52788
1080             Chris Paul  0.138      0.12456
...                     ...    ...          ...
8902           Grant Riller  0.000      0.00000
8903        Jalen McDaniels  0.000      0.00000
8904            LaMelo Ball  0.000      0.00000
8905             Malik Monk  0.000      0.00000
9649             Zeke Nnaji  0.000      0.00000

[463 rows x 3 columns]

In [148]:
comb["Rk"] = list(range(1,comb.shape[0]+1))

In [149]:
comb

                     Player  Share  Predictions   Rk
9644           Nikola Jokić  0.961      0.79857    1
7065            Joel Embiid  0.580      0.50389    2
2883          Stephen Curry  0.449      0.35617    3
8130  Giannis Antetokounmpo  0.345      0.52788    4
1080             Chris Paul  0.138      0.12456    5
...                     ...    ...          ...  ...
8902           Grant Riller  0.000      0.00000  459
8903        Jalen McDaniels  0.000      0.00000  460
8904            LaMelo Ball  0.000      0.00000  461
8905             Malik Monk  0.000      0.00000  462
9649             Zeke Nnaji  0.000      0.00000  463

[463 rows x 4 columns]

In [150]:
comb = comb.sort_values("Predictions", ascending =False)
comb

                     Player  Share  Predictions   Rk
9644           Nikola Jokić  0.961      0.79857    1
8130  Giannis Antetokounmpo  0.345      0.52788    4
7065            Joel Embiid  0.580      0.50389    2
2883          Stephen Curry  0.449      0.35617    3
6100         Damian Lillard  0.038      0.28085    7
...                     ...    ...          ...  ...
848           Aaron Nesmith  0.000      0.00000  160
7075        Vincent Poirier  0.000      0.00000  159
7074           Tyrese Maxey  0.000      0.00000  158
7073          Tobias Harris  0.000      0.00000  157
9649             Zeke Nnaji  0.000      0.00000  463

[463 rows x 4 columns]

In [153]:
comb["Predicted_Rk"] = list(range(1,comb.shape[0]+1))
comb.head(30)

                      Player  Share  Predictions   Rk  Predicted_Rk
9644            Nikola Jokić  0.961      0.79857    1             1
8130   Giannis Antetokounmpo  0.345      0.52788    4             2
7065             Joel Embiid  0.580      0.50389    2             3
2883           Stephen Curry  0.449      0.35617    3             4
6100          Damian Lillard  0.038      0.28085    7             5
9620             Rudy Gobert  0.008      0.18666   10             6
9268             Luka Dončić  0.042      0.16512    6             7
12512           James Harden  0.001      0.16143   13             8
4218           Kawhi Leonard  0.001      0.15921   14             9
1080              Chris Paul  0.138      0.12456    5            10
2956            LeBron James  0.001      0.12395   15            11
2777           Julius Randle  0.020      0.03650    8            12
7059             Ben Simmons  0.003      0.01971   12            13
6573       Russell Westbrook  0.005      0.01908   11            14
6562            Bradley Beal  0.000      0.00848   33            15
10054        Zion Williamson  0.000      0.00267  390            16
12511           Derrick Rose  0.010      0.00262    9            17
12221      Deividas Sirvydis  0.000      0.00000  315            18
4467             Isaac Okoro  0.000      0.00000  313            19
4466           Dylan Windler  0.000      0.00000  314            20
3281           Tyler Johnson  0.000      0.00000  321            21
4465               Dean Wade  0.000      0.00000  316            22
4464          Darius Garland  0.000      0.00000  317            23
4463              Dante Exum  0.000      0.00000  318            24
4462          Damyean Dotson  0.000      0.00000  319            25
12232        Sekou Doumbouya  0.000      0.00000  320            26
4469              Kevin Love  0.000      0.00000  311            27
4468         Jeremiah Martin  0.000      0.00000  312            28
4931          Dewayne Dedmon  0.000      0.00000  305            29
4470           Lamar Stevens  0.000      0.00000  310            30

In [152]:
comb['Rk'].unique()

array([  1,   4,   2,   3,   7,  10,   6,  13,  14,   5,  15,   8,  12,
        11,  33, 390,   9, 315, 313, 314, 321, 316, 317, 318, 319, 320,
       311, 312, 305, 310, 309, 308, 307, 306, 304, 323, 303, 302, 301,
       300, 299, 298, 322, 331, 324, 338, 349, 348, 347, 346, 345, 344,
       343, 342, 341, 340, 339, 337, 325, 336, 335, 334, 333, 332, 296,
       330, 329, 328, 327, 326, 297, 288, 295, 254, 265, 264, 263, 262,
       261, 260, 259, 258, 257, 256, 255, 253, 267, 252, 251, 250, 249,
       248, 247, 246, 245, 244, 243, 242, 266, 268, 294, 282, 293, 292,
       291, 290, 289, 351, 287, 286, 285, 284, 283, 281, 269, 280, 279,
       278, 277, 276, 275, 274, 273, 272, 271, 270, 350, 359, 352, 423,
       434, 433, 432, 431, 430, 429, 428, 427, 426, 425, 424, 422, 436,
       421, 420, 419, 418, 417, 416, 415, 414, 413, 412, 411, 435, 437,
       409, 451, 462, 461, 460, 459, 458, 457, 456, 455, 454, 453, 452,
       450, 438, 449, 448, 447, 446, 445, 444, 443, 442, 441, 440, 439,
       410, 408, 353, 366, 377, 376, 375, 374, 373, 372, 371, 370, 369,
       368, 367, 365, 379, 364, 363, 362, 361, 360, 240, 358, 357, 356,
       355, 354, 378, 380, 407, 395, 406, 405, 404, 403, 402, 401, 400,
       399, 398, 397, 396, 394, 381, 393, 392, 391, 389, 388, 387, 386,
       385, 384, 383, 382, 241, 232, 239,  85,  96,  95,  94,  93,  92,
        91,  90,  89,  88,  87,  86,  84,  98,  83,  82,  81,  80,  79,
        78,  77,  76,  75,  74,  73,  97,  99,  71, 113, 124, 123, 122,
       121, 120, 119, 118, 117, 116, 115, 114, 112, 100, 111, 110, 109,
       108, 107, 106, 105, 104, 103, 102, 101,  72,  70, 126,  28,  40,
        39,  38,  37,  36,  35,  34,  32,  31,  30,  29,  27,  42,  26,
        25,  24,  23,  22,  21,  20,  19,  18,  17,  16,  41,  43,  69,
        57,  68,  67,  66,  65,  64,  63,  62,  61,  60,  59,  58,  56,
        44,  55,  54,  53,  52,  51,  50,  49,  48,  47,  46,  45, 125,
       127, 238, 197, 208, 207, 206, 205, 204, 203, 202, 201, 200, 199,
       198, 196, 210, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186,
       185, 209, 211, 183, 225, 237, 236, 235, 234, 233, 231, 230, 229,
       228, 227, 226, 224, 212, 223, 222, 221, 220, 219, 218, 217, 216,
       215, 214, 213, 184, 182, 128, 141, 152, 151, 150, 149, 148, 147,
       146, 145, 144, 143, 142, 140, 154, 139, 138, 137, 136, 135, 134,
       133, 132, 131, 130, 129, 153, 155, 181, 169, 180, 179, 178, 177,
       176, 175, 174, 173, 172, 171, 170, 168, 156, 167, 166, 165, 164,
       163, 162, 161, 160, 159, 158, 157, 463], dtype=int64)